<div class="background-container">
    <div class="background-image"></div>


    <div class="conteudo">
        <div class="row">
            <div class="col text-end">
                <button type="button" (click)="pesquisar()" class="btn btn-primary">
                    <i class="bi bi-search"></i>&nbsp;Pesquisar
                </button>
                <label for="floatingSelect">&nbsp;&nbsp;</label>
                <button type="button" class="btn btn-secondary" (click)="limpar()">
                    <i class="bi bi-brush"></i>&nbsp;Limpar
                </button>
                <label for="floatingSelect">&nbsp;&nbsp;</label>
                <button type="button" class="btn btn-success" (click)="openModalNovoSabor()">
                    <i class="bi bi-plus-circle"></i>&nbsp;Adicionar sabor
                </button>
            </div>
        </div>
        <div class="espaco"></div>

        <div class="row">

            <div class="col-md-4">
                <label for="floatingSelect">Descrição</label>
                <input type="text" class="form-control" [(ngModel)]="inputFiltros['descricao']">
            </div>

            <div class="col-md-4">
                <label for="floatingSelect">Setor</label>
                <ng-multiselect-dropdown [placeholder]="'Selecione'" [settings]="listaConfigCombos['setor']"
                    [data]="listaCombos['setor']" [(ngModel)]="inputFiltros['setor']">
                </ng-multiselect-dropdown>
            </div>

            <div class="col-md-4">
                <label for="floatingSelect">Fornecedor</label>
                <ng-multiselect-dropdown [placeholder]="'Selecione'" [settings]="listaConfigCombos['fornecedor']"
                    [data]="listaCombos['fornecedor']" [(ngModel)]="inputFiltros['fornecedor']">
                </ng-multiselect-dropdown>
            </div>
        </div>

        <div class="espaco"></div>

        <div id="tabelaResponsiva">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Preço custo</th>
                        <th>Preço venda</th>
                        <th>Grupo</th>
                        <th>Promoção ativa</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let retorno of sabores  | paginate: {itemsPerPage: 10, currentPage: paginaGridInicial, id:'paginaGridInicial' }; let i = index">
                        <td>{{retorno.nome}}</td>
                        <td>{{"R$" + retorno.preco?.custo}}</td>
                        <td>{{"R$" + retorno.preco?.venda}}</td>
                        <td>{{retorno.grupo}}</td>
                        <td>{{retorno.promocao ? 'Sim' : 'Não'}}</td>

                        <td>

                            <div class="icones-container">

                                <a class="icone icone-item-grid" title="Editar">
                                    <i class="bi bi-pencil-fill"></i>
                                </a>

                                <a class="icone icone-item-grid" title="Receita">
                                    <i class="bi bi-pencil-fill"></i>
                                </a>

                                <a class="icone icone-item-grid" title="Histórico vendas">
                                    <i class="bi bi-clock-history"></i>
                                </a>

                                <a class="icone icone-item-grid" title="Promoção">
                                    <i class="bi bi-clock-history"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls (pageChange)="paginaGridInicial = $event" id="paginaGridInicial"
                previousLabel="Anterior" nextLabel="Próxima">
            </pagination-controls>
        </div>
    </div>
</div>

<app-novo-sabor #modalNovoSabor></app-novo-sabor>