<div class="modal fade" id="modalClientePedidos" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content ">
            <div class="modal-header">
                <h5 class="card-title">Pedidos</h5>

                <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
            </div>
            <div class="modal-body">

                <div id="tabelaResponsiva">
                    <table class="table" id="excel-table">
                        <thead>
                            <tr>
                                <th>Data</th>
                                <th>Valor</th>
                                <th>Situação</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let retorno of pedidos  | paginate: {itemsPerPage: 10, currentPage: paginaPedidos, id:'idPaginaPedidos' }; let i = index">

                                <td>{{retorno.data | date:'dd/MM/yyyy'}}</td>
                                <td>{{retorno.valor || 0.0 | currency:'BRL':'symbol':'1.2-2' }}</td>
                                <td>{{retorno.situacao}}</td>
                            </tr>
                        </tbody>
                    </table>

                    <pagination-controls (pageChange)="paginaPedidos = $event" id="idPaginaPedidos"
                        previousLabel="Anterior" nextLabel="Próxima">
                    </pagination-controls>
                </div>

            </div>
        </div>
    </div>
</div>