<head>
  <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet">

</head>
<section class="min-vh-100 d-flex flex-column justify-content-center">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
              <div class="row">
                  <div class="col-12 text-center error-card">
                      <h1>404</h1>
                      <h2 class="alert-heading">Página não encontrada!</h2>
                      <p>Algo deu errado </p>
                      <a href="/home">
                         
                          <span  class="btn btn-outline-primary">Voltar</span></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>