<div class="modal fade" id="modalNovoPedido" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-custom-width">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="card-title">Novo pedido</h5>
                <a type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
            </div>

            <div class="modal-body">
                <form [formGroup]="incluirForm">
                    <div class="row">

                        <div class="col-md-12">
                            <label>Cliente</label>
                            <ng-multiselect-dropdown [placeholder]="'Selecione'" [settings]="listaConfig['cliente']"
                                [data]="listaCombos['cliente']" formControlName="cliente">
                            </ng-multiselect-dropdown>
                        </div>

                    </div>
                    
                    <div class="espaco"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Massa</label>
                            <ng-multiselect-dropdown [placeholder]="'Selecione'" [settings]="listaConfig['massa']"
                                [data]="listaCombos['massa']" formControlName="massa">
                            </ng-multiselect-dropdown>
                        </div>

                        <div class="col-md-6">
                            <label>Tamanho</label>
                            <ng-multiselect-dropdown [placeholder]="'Selecione'" [settings]="listaConfig['tamanho']"
                                [data]="listaCombos['tamanho']" formControlName="tamanho">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>


                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" [disabled]="incluirForm.invalid">Salvar</button>
            </div>
        </div>
    </div>
</div>